@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://db.onlinewebfonts.com/c/ac9d8158b3517faaa24ecd1ca8a4e001?family=Kulturista");
/*
font-family: "Kulturista";
font-weight: bold;
font-family: 'Itim', cursive;
font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; 
*/
:root {
  --color-primary: #ffdc58;
  --color-bronze: #ed6d14;
  --color-silver: #848589;
  --color-gold: #ffb435;
  --color-performance: #cf2e2e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;
  --shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
    0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --font-size-small: 18px;
  --font-size-medium: 22px;
  --font-size-large: 26px;
  --font-size-x-large: 30px;
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
}

body {
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #030708, #00000000, #00000000),
    url("/assets/intro/bg.jpg") no-repeat 50% 50% / cover;
  filter: blur(4px);
  z-index: -1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #030708, #00000000, #00000000);
  z-index: -2;
}

/* The content and linear gradient will be on top of the blurred image */

/* Text Color + Format + Fonts */
.text-size-sml {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-small);
}
.text-size-md {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-medium);
}
.text-size-lg {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-large);
}
.text-size-xlg {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-x-large);
}
@media (max-width: 768px) {
  .text-size-sml {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }
  .text-size-md {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  .text-size-lg {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  .text-size-xlg {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
  }
}
.color-primary-text {
  color: var(--color-primary);
}
.font-marker {
  font-family: "Permanent Marker", cursive;
}
.p-text {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  color: var(--color-white);
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px var(--color-black);
}
.h-text {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: var(--color-white);
  text-shadow: -3px 0px 1px var(--color-black),
    -3px 0px 10px var(--color-primary);
}
.header-text {
  font-family: "Permanent Marker", cursive;
  z-index: 3;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 5rem;
  color: var(--color-white);
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px rgb(0, 0, 0);
}
.header-typed {
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: var(--color-white);
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px rgb(0, 0, 0);
  z-index: 3;
}
@media (max-width: 769px) {
  .header-text {
    font-size: 4rem;
  }
  .header-typed {
    font-size: 2rem;
  }
}
.primary-color {
  color: var(--color-primary);
}

.navbar-intro {
  z-index: 999;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0 2% 0;
  background: linear-gradient(to bottom, #030708, #00000000, #00000000),
    transparent;
}
.intro-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 99;
}
.intro-logo {
  height: 120px;
  margin: 0 0 0 0;
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
}
.next-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* border: 2px solid var(--color-primary); */
}

.card-name {
  text-align: center;
}
.s-inot {
  width: 40vw;
  height: 60vh;
  border-radius: 25px;

  background: url("/assets/intro/intro-inot.png") no-repeat 50% 50% / cover;
  transition: all 0.2s ease-in-out;
}
.s-fitness {
  width: 40vw;
  height: 60vh;
  border-radius: 25px;

  background: url("/assets/intro/intro-fitness.png") no-repeat 50% 50% / cover;
  transition: all 0.2s ease-in-out;
}
.s-inot:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 1px var(--color-black), 
    0 0 30px 5px var(--color-primary);
}
.s-fitness:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 1px var(--color-black), 
    0 0 30px 5px var(--color-primary);
}
@media (min-width: 1000px) {
  .intro-head {
    position: fixed;
    z-index: 99;
    top: 0;
  }
  .intro-img {
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .intro-logo {
    height: 80px;
  }
  .navbar-intro {
    margin: 5% 0 0 0;
  }
  .selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0;
  }
  .s-inot {
    width: 90vw;
    height: 30vh;
    border-radius: 25px;
    margin-top: 5%;
    margin: 5% 0 5% 0;
  }
  .s-fitness {
    width: 90vw;
    height: 30vh;
    border-radius: 25px;
    margin: 5% 0 5% 0;
  }
}

.inot {
  width: 40vw;
  height: 60vh;
}
.fitness {
  width: 40vw;
  height: 60vh;
}
