@import url("https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:wght@400;600;700;800;900&display=swap");

/*
font-family: 'Itim', cursive;
font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; 
*/
:root {
  --color-danger: #dc3545;
  --color-bronze: #ed6d14;
  --color-silver: #848589;
  --color-gold: #ffb435;
  --color-performance: #cf2e2e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;
  --shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
    0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --font-size-small: 13px;
  --font-size-medium: 20px;
  --font-size-large: 36px;
  --font-size-x-large: 42px;
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
}

html {
  scroll-behavior: smooth;
}

/* Body Section */
body {
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: var(--font-size-medium);
  background-color: var(--color-black);
}

.container {
}

nav {
  z-index: 999999;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-white);
}

svg {
  width: 25px;
  height: 25px;
}

footer {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

/* Rating Section */
.rating-section {
  position: relative;

  display: grid;
  grid-template-rows: repeat(2, 320px);
  place-items: center;
}

.header-content {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2rem 0;
}

.header-content h1 {
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
}

.header-content p {
  text-align: justify;
  color: var(--color-white);
}

.img-fluid {
  border-radius: 25px;
  box-shadow: 1px 1px 30px var(--color-danger);
}

/* Rating Cards Body */
.rating-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;

  display: flex;
  justify-content: center;
  align-content: center;
}

.user-review {
  height: 400px;
  width: 400px;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 25px;
  border: 2px solid var(--color-danger);
  box-shadow: 1px 1px 30px var(--color-danger);

  padding: 1.5rem 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  color: var(--color-white);
  position: relative;
}

.user-details {
  display: flex;
  justify-content: left;
  align-items: center;
}
.user-img {
  height: 80px;
}
.user-details img {
  border-radius: 50%;
  margin-right: 6px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
}
.user-info h5 {
  margin: 0;
  font-size: 1rem;
}
.verified {
  font-size: 0.8rem;
  color: var(--color-gold);
}
.stars {
  width: auto;
}

.rating-data {
  margin: 0;
  color: var(--color-danger);
}
@media (max-width: 1250px) {
  .header-content {
    display: grid;
    margin: 1rem 0;
  }
  .rating-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 0.5rem;

    display: flex;
    justify-content: center;
    align-content: center;
  }
}
@media (max-width: 992px) {
  .rating-section {
    grid-template-rows: 1fr;
  }
  .header-content {
    grid-template-columns: 1fr;
  }
  .star {
    width: 16px;
  }
  .rating-card {
    grid-gap: 1.25rem;

    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .user-review {
    height: auto;
    width: auto;
  }
}

/* Custom Section */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.text-right-nav {
  text-align: center;
}

.text-center-nav {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.btn-to-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 9;
}

.btn-let-begin {
  position: fixed;
  bottom: 5%;
  right: 7%;
  z-index: 9;
}

.icon-logo {
  width: 80px;
}

/* Footer */
.icon-logo-footer {
  width: 40px;
}

hr.solid {
  border: 5px solid var(--color-danger);
  border-radius: 5px;
  opacity: 1;
  width: 90%;
}

.grow-and-shrink-img {
  z-index: -1;
  animation: grow-and-shrink 4000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 500px;
}

.grow-and-shrink {
  animation: grow-and-shrink 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.font-Marker {
  font-family: "Permanent Marker", cursive;
}

.wrapper {
  font-family: "Permanent Marker", cursive;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 10px;
  display: flex;
  flex-direction: column;
}

.normal-text {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  color: var(--color-white);
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px var(--color-black);
}

.header-text {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: var(--color-white);
  text-shadow: -3px 0px 1px var(--color-black), -3px 0px 10px var(--color-black);
}

.header-welcome {
  z-index: 3;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 8rem;
  color: var(--color-white);
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px rgb(0, 0, 0);
}

.header-typed {
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: var(--color-white);
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px rgb(0, 0, 0);
  z-index: 3;
}

@media (max-width: 769px) {
  .header-welcome {
    font-size: 4rem;
  }
  .header-typed {
    font-size: 2rem;
  }
}

.btn-showcase {
  font-family: "Poppins", sans-serif;
  z-index: 4;
}

.showcase-section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-showcase-img,
.fg1-showcase-img,
.fg2-showcase-img,
.fg3-showcase-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  z-index: -1;
}

.bg-showcase-img {
  transform: translateZ(-10) scale(2);
}

.fg1-showcase-img,
.fg2-showcase-img,
.fg3-showcase-img {
  transform: translateZ(-5) scale(2);
}

.fg-athlet-img {
  position: absolute;
  height: 100%;
  width: 120%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.fg-athlet-img {
  transform: translateZ(-5) scale(1.5);
}

.fg1-showcase-img {
  z-index: 0;
}
.fg2-showcase-img {
  z-index: 1;
}
.fg3-showcase-img {
  z-index: 2;
}
.fg-athlet-img {
  z-index: 3;
}

.interactive-section-one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

/* Shadow 1 */
.interactive-section-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 3;
}

.interactive-section-two::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 5;
}

/* Hover Section */

/* Programs Nav Bar Colors */
.bg-dropdown-1:hover {
  background-color: var(--color-bronze);
  color: var(--color-white);
}

.bg-dropdown-2:hover {
  background-color: var(--color-silver);
  color: var(--color-white);
}

.bg-dropdown-3:hover {
  background-color: var(--color-gold);
  color: var(--color-white);
}

.bg-dropdown-4:hover {
  background-color: var(--color-performance);
  color: var(--color-white);
}

/* .icon-spin:hover {animation:spin 12s linear infinite;} */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--color-black);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: var(--color-danger);
  transform-origin: bottom right;
  border-radius: 10px;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.color-hover:hover {
  color: var(--color-danger);
}

.translate-hover:hover {
  transform: translateY(-5px);
}

.transform-scale-sml:hover {
  transform: scale(1.1);
}

.transform-scale-md:hover {
  transform: scale(1.2);
}

.transform-scale-lg:hover {
  transform: scale(1.3);
}

.shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.grow-and-shrink-hover:hover {
  animation: grow-and-shrink 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Media Section */
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.07);
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media only screen and (max-width: 769px) {
  .btn-to-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 9;
  }

  .mobile-container {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .header-welcome {
    font-size: 14vw;
  }

  .header-typed {
    font-size: 6vw;
  }

  hr.solid {
    width: 100%;
  }
}

@media only screen and (max-width: 769px) {
  .grow-and-shrink-mobile {
    animation: grow-and-shrink 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .grow-and-shrink-img-mobile {
    animation: grow-and-shrink 4000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .wrapper {
    height: 100vh;
  }
}
@media (max-width: 400px) {
  .wrapper {
    height: 100vh;
  }
}
@media (max-width: 300px) {
  .wrapper {
    height: 300vh;
  }
}
@media (max-width: 200px) {
  .wrapper {
    height: 500vh;
  }
}
