@import url("https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:wght@400;600;700;800;900&display=swap");
/*
font-family: 'Itim', cursive;
font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; 
*/

:root {
  --color-danger: #dc3545;
  --color-bronze: #ed6d14;
  --color-silver: #848589;
  --color-gold: #ffb435;
  --color-performance: #cf2e2e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;
  --shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
    0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --font-size-small: 13px;
  --font-size-medium: 20px;
  --font-size-large: 36px;
  --font-size-x-large: 42px;
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
}

ol,
ul {
  padding: 0;
}

/* Shadow 3 */

.interactive-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.interactive-section-tree {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.interactive-section-tree::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 5;
}

.program-img-atlas {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.programs-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}

/* Plan Switcher */
.switcher {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-black);
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--color-danger);
}
input:checked + .slider::before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}

/* Card Section */
.ff-PermanentMarker {
  font-family: "Permanent Marker", cursive;
  color: var(--color-white);
  text-shadow: -3px 0px 1px var(--color-danger),
    -3px 0px 10px var(--color-black);
  letter-spacing: 0.2rem;
}

.first {
  font-size: 1.8em;
}
.text1,
.text2 {
  font-weight: 600;
  color: var(--color-white);
  font-size: 2rem;
  text-shadow: -3px 0px 1px var(--color-danger),
    -3px 0px 10px var(--color-black);
}
.list {
  height: 150px;
  width: 75%;
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid var(--color-black);
  padding-inline-start: 0;
  border-width: 1px;
}

.card-bodys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 30px 0;
  margin: 0rem 1rem;
  width: 330px;
  height: 100%;

  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 25px;
  border: 2px solid var(--color-danger);
}

.card-section {
  font-family: "Poppins", sans-serif;
  z-index: 3;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "card-1 card-2 card-3";
}
.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.programs-title {
  margin: 1% 0;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 3vw;
  text-shadow: -4px 0px 3px var(--color-black), -5px 0px 12px rgb(0, 0, 0);
}

.programs-card-section {
  background-image: url(/Assets/Programs/room3d-5.2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}

.programs-card-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
}

.box {
  height: 425px;
  background-color: #000;
  transition: 0.2s;
  transform-style: preserve-3d;
  overflow: hidden;
  filter: brightness(80%);
}

.box:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 2px 6px 25px var(--color-danger);
  filter: brightness(100%);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content .content-title {
  transition: 0.5s;
  transform: translateY(150px);
}

.box:hover .content .content-title {
  transform: translateY(20px);
  transition-delay: 0.3s;
}

.content .content-text {
  transition: 0.3s;
  transform: translateY(400px);
}

.box:hover .content .content-text {
  transform: translateY(40px);
  transition-delay: 0.4s;
}

.content .content-button {
  transition: 0.3s;
  transform: translateY(400px);
}
.box:hover .content .content-button {
  transform: translateY(60px);
  transition-delay: 0.4s;
}

/* Card Button */
.card-button {
  padding: 10px 30px;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 35px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-danger);
}
.card-button:hover {
  box-shadow: 0 0 2px 0 var(--color-danger) inset,
    0 0 5px 1px var(--color-danger);
}

/* Mobile Screen */

@media (max-width: 1290px) {
  .programs-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .programs-title {
    font-size: 8vw;
  }

  .box {
    filter: brightness(100%);
    box-shadow: 2px 6px 25px var(--color-danger);
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .imgBx img {
    filter: blur(1px);
  }
  .content .content-title {
    transform: translateY(0);
  }
  .box:hover .content .content-title {
    transform: translateY(0px);
  }
  .content .content-text {
    transform: translateY(0);
  }
  .box:hover .content .content-text {
    transform: translateY(0px);
  }
  .content .content-button {
    transform: translateY(0);
  }
  .box:hover .content .content-button {
    transform: translateY(0px);
  }
  

  .box {
    filter: brightness(100%);
  }
  .box:hover {
    transform: scale(1);
    box-shadow: 2px 6px 25px var(--color-danger);
  }


}
@media (max-width: 1100px) {
  .card-bodys {
    padding: 1rem 0;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3";
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
  }

  .content .content-title {
    transform: translateY(0);
  }
  .box:hover .content .content-title {
    transform: translateY(0px);
  }
  .content .content-text {
    transform: translateY(0);
  }
  .box:hover .content .content-text {
    transform: translateY(0px);
  }
  .content .content-button {
    transform: translateY(0);
  }
  .box:hover .content .content-button {
    transform: translateY(0px);
  }
  .box {
    filter: brightness(100%);
    box-shadow: 2px 6px 25px var(--color-danger);
  }
}
